<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Storage</title>
    <link href="css/menu_bar_style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/uploadStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>

    <header>
        <h1><span>Secure</span> Storage</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>

<form action="/register" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>Submit</button>
</form>
