<h1> This is the Home page </h1>

<li><a href="/register">Sign Up Here</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

<!-- This code is meant as a placeholder for the final product, this is used for testing the login/register/logout functions in ejs, 
	it can be deleted and replaced with the actual html implementation later -->